<h4>Car list</h4>

<div>
    @if (loading()) {
    <div class="text-center my-3">
        <div class="spinner-border" role="status"></div>
        <p>Loading...</p>
    </div>
    }
</div>

@if (error()) {
<div class="alert alert-danger" role="alert">
    {{error().message || "something went wrong"}}
</div>
}

@if (cars().length) {
<div>

    @for (item of cars(); track item.id) {
    <div class="card mb-3 shadow-sm overflow-hidden">
        <img [src]="item.prviewImage" [alt]="item.model" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{item.brand}} {{item.model}}</h5>
            <p class="card-text text-muted">{{item.price | currency}} / day</p>
            <button class="btn btn-danger w-100" (click)="onRemove(item.id)">Delete</button>
        </div>
    </div>
    }
</div>
} @else if (!loading() && !error()) {
<div class="alert alert-warning" role="alert">
    No cars found
</div>
}